In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import tabula

First, extract the card_details data from its source using the following code:

In [96]:
def retrieve_pdf_data(pdf_link):
    # Use tabula to extract tables from the PDF
    try:
        pdf_df = tabula.read_pdf(pdf_link, pages='all', multiple_tables=True)
            
        # Concatenate all tables into a single DataFrame
        pdf_df = pd.concat(pdf_df, ignore_index=True)
            
        return pdf_df
    except Exception as e:
        print(f"Error extracting data from PDF: {e}")
        return None

# Provide the PDF link as an argument to the retrieve_pdf_data method
card_data = retrieve_pdf_data('https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf')

In [90]:
card_data.head()

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,10/23,American Express,2001-06-18
2,3529023891650490,06/23,JCB 16 digit,2000-12-26
3,213142929492281,09/27,JCB 15 digit,2011-02-12
4,502067329974,10/25,Maestro,1997-03-13

.head() allows me to quickly view the data columns and the data that may be available.

In [91]:
card_data.describe(include='all')

       card_number expiry_date  card_provider date_payment_confirmed
count        15309       15309          15309                  15309
unique       15299         136             25                   8270
top           NULL       03/28  VISA 16 digit                   NULL
freq            11         163           2426                     11

In [92]:
card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  object
 1   expiry_date             15309 non-null  object
 2   card_provider           15309 non-null  object
 3   date_payment_confirmed  15309 non-null  object
dtypes: object(4)
memory usage: 478.5+ KB

In [93]:
# Create a boolean mask for non-numeric values in the specified column
non_numeric_mask = ~pd.to_numeric(card_data['card_number'], errors='coerce').notna()

# Use the mask to display the rows where the specified column has non-numeric values
rows_with_non_numeric_values = card_data[non_numeric_mask]

# Display the rows where the specified column has non-numeric values
print(rows_with_non_numeric_values)

                  card_number expiry_date                card_provider  \
149         ?4971858637664481       04/24                VISA 16 digit
157       ???3554954842403828       06/29                 JCB 16 digit
377                      NULL        NULL                         NULL
827                VAB9DSB8ZM  NWS3P2W38H                   NB71VBAHJE
847                      NULL        NULL                         NULL
884                      NULL        NULL                         NULL
1443               MOZOT5Q95V  8YJ3TYH6Z5                   WJVMUO4QX6
1777       ??4654492346226715       03/23                VISA 16 digit
2418                     NULL        NULL                         NULL
2489                     NULL        NULL                         NULL
2830                     NULL        NULL                         NULL
3143        ?3544855866042397       10/28                 JCB 16 digit
3694               K0084A9R99  ACT9K6ECRJ                   JRPRLPIBZ2
4196                     NULL        NULL                         NULL
4208               Y8ITI33X30  WDWMN9TU45                   TS8A81WFXV
4299       ??2720312980409662       11/28                   Mastercard
4916               RNSCD8OCIM  VNLNMWPJII                   JCQMU8FN85
5289          ??4982246481860       01/29                VISA 13 digit
5518         ?213174667750869       09/26                 JCB 15 digit
5686                     NULL        NULL                         NULL
5843     ????3505784569448924       02/28                 JCB 16 digit
6024                     NULL        NULL                         NULL
6126     ????3556268655280464       11/29                 JCB 16 digit
6382      ???2604762576985106       10/29                   Mastercard
6653               MIK9G2EMM0  4FI5GTUVYG                   5CJH7ABGDR
6712      ???5451311230288361       06/24                   Mastercard
7332               I4PWLWSIRJ  RF1ACW165R                   DE488ORDXY
7493               OMZSBN2XG3  6JJKS7R0WA                   OGJTXI6X1H
7818               NB8JJ05D7R  XRPE6C4GS9                   1M38DYQTZV
7880   ???4252720361802860591       05/27                VISA 19 digit
7913           ?4217347542710       06/25                VISA 13 digit
8167            ?584541931351       09/31                      Maestro
8268      ???4672685148732305       04/24                VISA 16 digit
8480       ??3535182016456604       04/26                 JCB 16 digit
8487     ?4222069242355461965       12/23                VISA 19 digit
10106    ????3512756643215215       09/30                 JCB 16 digit
10457              G0EF4TS8C8  5VN8HOLMVE                   DLWF2HANZF
11111       ?2314734659486501       06/25                   Mastercard
11190     ????341935091733787       01/23             American Express
11345              Z8855EXTJX  Q7VGWP7LH9                   XGZBYBYGUW
11402    ????3543745641013832       01/24                 JCB 16 digit
11465              JQTLQAAQTD  ZBGGFGY4H0                   UA07L7EILH
11499              T23BTBBJDD  UMR9FIE22M                   BU9U947ZGV
11688          ??575421945446       08/31                      Maestro
11937          ??630466795154       12/27                      Maestro
12830      ????38922600092697       03/27  Diners Club / Carte Blanche
12876                    NULL        NULL                         NULL
13708                    NULL        NULL                         NULL
14039     ????344132437598598       01/24             American Express
14346     ???4814644393449676       08/28                VISA 16 digit
14884              LSWT9DT4G4  2ANT8LW3I5                   5MFWFBZRM9

      date_payment_confirmed
149               2016-11-17
157               1998-01-04
377                     NULL
827               GTC9KBWJO9
847                     NULL
884                     NULL
1443              DJIXF1AFAZ
1777              1996-08-09
2418                    NULL
2489                    NULL
2830                    NULL
3143              2020-08-25
3694              H2PCQP4W50
4196                    NULL
4208              XTD27ANR5Q
4299              1998-04-16
4916              7VGB4DA1WI
5289              2019-11-30
5518              2000-07-08
5686                    NULL
5843              2012-10-12
6024                    NULL
6126              1997-01-03
6382              2015-11-03
6653              RLQYRRYHPU
6712              2005-02-09
7332              T008RE1ZR6
7493              7FL8EU9GBF
7818              GD9PHJXQR4
7880              2014-01-19
7913              2016-08-27
8167              2014-02-22
8268              2014-07-18
8480              2005-02-25
8487              1999-01-25
10106             2008-07-26
10457             WCK463ZO1Z
11111             2003-08-05
11190             2001-01-28
11345             OE3KONN2V6
11402             2004-06-21
11465             T995FX2C7W
11499             EVVMMB3QYV
11688             1998-12-20
11937             2013-07-17
12830             1996-07-02
12876                   NULL
13708                   NULL
14039             1996-07-16
14346             1996-08-02
14884             UZGSD0AEBT

In [102]:
card_data["card_number"].astype(object)
card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15309 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15309 non-null  object
 1   expiry_date             15309 non-null  object
 2   card_provider           15309 non-null  object
 3   date_payment_confirmed  15309 non-null  object
dtypes: object(4)
memory usage: 478.5+ KB

In [105]:
# Create a boolean mask for non-numeric values in the specified column
non_numeric_mask = ~pd.to_numeric(card_data['card_number'], errors='coerce').notna()

# Use the mask to display the rows where the specified column has non-numeric values
rows_with_non_numeric_values = card_data[non_numeric_mask]

# Display the rows where the specified column has non-numeric values
print(rows_with_non_numeric_values)

      card_number expiry_date card_provider date_payment_confirmed
377          NULL        NULL          NULL                   NULL
827    VAB9DSB8ZM  NWS3P2W38H    NB71VBAHJE             GTC9KBWJO9
847          NULL        NULL          NULL                   NULL
884          NULL        NULL          NULL                   NULL
1443   MOZOT5Q95V  8YJ3TYH6Z5    WJVMUO4QX6             DJIXF1AFAZ
2418         NULL        NULL          NULL                   NULL
2489         NULL        NULL          NULL                   NULL
2830         NULL        NULL          NULL                   NULL
3694   K0084A9R99  ACT9K6ECRJ    JRPRLPIBZ2             H2PCQP4W50
4196         NULL        NULL          NULL                   NULL
4208   Y8ITI33X30  WDWMN9TU45    TS8A81WFXV             XTD27ANR5Q
4916   RNSCD8OCIM  VNLNMWPJII    JCQMU8FN85             7VGB4DA1WI
5686         NULL        NULL          NULL                   NULL
6024         NULL        NULL          NULL                   NULL
6653   MIK9G2EMM0  4FI5GTUVYG    5CJH7ABGDR             RLQYRRYHPU
7332   I4PWLWSIRJ  RF1ACW165R    DE488ORDXY             T008RE1ZR6
7493   OMZSBN2XG3  6JJKS7R0WA    OGJTXI6X1H             7FL8EU9GBF
7818   NB8JJ05D7R  XRPE6C4GS9    1M38DYQTZV             GD9PHJXQR4
10457  G0EF4TS8C8  5VN8HOLMVE    DLWF2HANZF             WCK463ZO1Z
11345  Z8855EXTJX  Q7VGWP7LH9    XGZBYBYGUW             OE3KONN2V6
11465  JQTLQAAQTD  ZBGGFGY4H0    UA07L7EILH             T995FX2C7W
11499  T23BTBBJDD  UMR9FIE22M    BU9U947ZGV             EVVMMB3QYV
12876        NULL        NULL          NULL                   NULL
13708        NULL        NULL          NULL                   NULL
14884  LSWT9DT4G4  2ANT8LW3I5    5MFWFBZRM9             UZGSD0AEBT

In [106]:
card_data['card_number'] = card_data['card_number'].str.replace(r'\?', '', regex=True)

In [109]:
# Create a boolean mask for rows containing the text "NULL"
mask = card_data["card_number"] == 'NULL'

# Use the mask to drop rows with the text "NULL"
card_data = card_data.drop(card_data[mask].index)

In [110]:
# Create a boolean mask for non-numeric values in the specified column
non_numeric_mask = ~pd.to_numeric(card_data['card_number'], errors='coerce').notna()

# Use the mask to display the rows where the specified column has non-numeric values
rows_with_non_numeric_values = card_data[non_numeric_mask]

# Display the rows where the specified column has non-numeric values
print(rows_with_non_numeric_values)

      card_number expiry_date card_provider date_payment_confirmed
827    VAB9DSB8ZM  NWS3P2W38H    NB71VBAHJE             GTC9KBWJO9
1443   MOZOT5Q95V  8YJ3TYH6Z5    WJVMUO4QX6             DJIXF1AFAZ
3694   K0084A9R99  ACT9K6ECRJ    JRPRLPIBZ2             H2PCQP4W50
4208   Y8ITI33X30  WDWMN9TU45    TS8A81WFXV             XTD27ANR5Q
4916   RNSCD8OCIM  VNLNMWPJII    JCQMU8FN85             7VGB4DA1WI
6653   MIK9G2EMM0  4FI5GTUVYG    5CJH7ABGDR             RLQYRRYHPU
7332   I4PWLWSIRJ  RF1ACW165R    DE488ORDXY             T008RE1ZR6
7493   OMZSBN2XG3  6JJKS7R0WA    OGJTXI6X1H             7FL8EU9GBF
7818   NB8JJ05D7R  XRPE6C4GS9    1M38DYQTZV             GD9PHJXQR4
10457  G0EF4TS8C8  5VN8HOLMVE    DLWF2HANZF             WCK463ZO1Z
11345  Z8855EXTJX  Q7VGWP7LH9    XGZBYBYGUW             OE3KONN2V6
11465  JQTLQAAQTD  ZBGGFGY4H0    UA07L7EILH             T995FX2C7W
11499  T23BTBBJDD  UMR9FIE22M    BU9U947ZGV             EVVMMB3QYV
14884  LSWT9DT4G4  2ANT8LW3I5    5MFWFBZRM9             UZGSD0AEBT

In [111]:
# Create a boolean mask for non-numeric values in the specified column
non_numeric_mask = ~pd.to_numeric(card_data['card_number'], errors='coerce').notna()

# Use the mask to drop rows with non-numeric values in the 'card_number' column
card_data = card_data.loc[~non_numeric_mask]

In [112]:
# Create a boolean mask for non-numeric values in the specified column
non_numeric_mask = ~pd.to_numeric(card_data['card_number'], errors='coerce').notna()

# Use the mask to display the rows where the specified column has non-numeric values
rows_with_non_numeric_values = card_data[non_numeric_mask]

# Display the rows where the specified column has non-numeric values
print(rows_with_non_numeric_values)

Empty DataFrame
Columns: [card_number, expiry_date, card_provider, date_payment_confirmed]
Index: []

In [113]:
card_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15284 entries, 0 to 15308
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   card_number             15284 non-null  object
 1   expiry_date             15284 non-null  object
 2   card_provider           15284 non-null  object
 3   date_payment_confirmed  15284 non-null  object
dtypes: object(4)
memory usage: 597.0+ KB

In [116]:
card_data.isnull().sum()

card_number               0
expiry_date               0
card_provider             0
date_payment_confirmed    0
dtype: int64