In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import tabula
import requests
import json
from database_utils import DatabaseConnector
from sqlalchemy import inspect

In [7]:
def list_number_of_stores(number_of_stores_endpoint, headers):
    try:
        response = requests.get(number_of_stores_endpoint, headers=headers)
        response.raise_for_status()  # Raise an exception for bad responses (4xx or 5xx)
        return response.json()
    except requests.exceptions.RequestException as e:
        print(f"Error listing number of stores: {e}")
        return None
    
def retrieve_stores_data(store_endpoint_pattern, headers, total_stores):
    all_stores_data = []

    for store_number in range(0, total_stores):
        store_endpoint = f"{store_endpoint_pattern}/{store_number}"
        try:
            response = requests.get(store_endpoint, headers=headers)
            response.raise_for_status()
            store_data = response.json()
            all_stores_data.append(store_data)
        except requests.exceptions.RequestException as e:
            print(f"Error retrieving data for store {store_number}: {e}")
            return None
    all_stores_df = pd.DataFrame(all_stores_data)
    all_stores_df = all_stores_df.set_index('index')
    return all_stores_df

# API details
number_of_stores_endpoint = "https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores/"
store_endpoint_pattern = "https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details"
headers = {"x-api-key": "yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX"}

number_of_stores = list_number_of_stores(number_of_stores_endpoint, headers)
total_stores = number_of_stores.get('number_stores', 0)
all_store_data = retrieve_stores_data(store_endpoint_pattern, headers, total_stores)

In [8]:
all_store_data.head()

,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
index,,,,,,,,,,,
0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe

In [9]:
all_store_data.describe(include="all")

,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
count,451,451,11,451,451,451,451,451,450,451,451
unique,449,125,9,125,449,114,440,13,124,11,12
top,NULL,53.46506,NULL,Chapletown,NULL,20,2004-01-23,Local,-1.47217,GB,Europe
freq,3,14,3,14,3,18,3,255,14,266,383

In [12]:
all_store_data.lat.unique()

array(['N/A', None, '13KJZ890JH', '2XE1OWOC23', 'NULL', 'OXVE5QR07O',
       'VKA5I8H32X', 'LACCWDI0SB', 'A3O5CBWAMD', 'UXMWDMX1LC'],
      dtype=object)

In [13]:
del all_store_data["lat"]

In [14]:
all_store_data.head()

,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
index,,,,,,,,,,
0,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe

In [15]:
all_store_data.describe(include="all")

,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
count,451,451,451,451,451,451,451,450,451,451
unique,449,125,125,449,114,440,13,124,11,12
top,NULL,53.46506,Chapletown,NULL,20,2004-01-23,Local,-1.47217,GB,Europe
freq,3,14,14,3,18,3,255,14,266,383

In [16]:
all_store_data.country_code.unique()

array(['GB', 'DE', 'US', 'YELVM536YT', 'FP8DLXQVGH', 'NULL', 'HMHIFNLOBN',
       'F3AO8V2LHU', 'OH20I92LX3', 'OYVW925ZL8', 'B3EH2ZGQAV'],
      dtype=object)

In [17]:
all_store_data[~all_store_data['country_code'].isin(["GB", "DE", "US"])]

,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
index,,,,,,,,,,
63,6FWDZHD7PW,1ZVU03X2P6,9IBH8Y4Z0S,NRQKZWJ9OZ,BIP8K8JJW2,ZCXWWKF45G,QP74AHEQT0,1CJ5OAU4BR,YELVM536YT,QMAVR5H3LD
172,UBCIFQLSNY,Q1TJY8H1ZH,1T6B406CI8,QIUU9SVP51,SKBXAXF5G5,7AHXLXIUEF,O0QJIRC943,3ZR3F89D97,FP8DLXQVGH,LU3E036ZD9
217,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
231,RC99UKMZB2,2YBZ1440V6,6LVWPU1G64,Y8J0Z2W8O9,2429OB3LMM,0OLAK2I6NS,50IB01SFAZ,L13EQEQODP,HMHIFNLOBN,5586JCLARW
333,X349GIDWKU,O7NF1FZ74Y,RX9TCP2RGB,ISEE8A57FE,74BY7HSB6P,A3PMVM800J,0RSNUU3DF5,J3BPB68Z1J,F3AO8V2LHU,GFJQ2AAEQ8
381,ZBGB54ID4H,SKO4NMRNNF,CQMHKI78BX,T0R2CQBDUS,GT1FO6YGD4,GMMB02LA9V,B4KVQB3P5Y,AJHOMDOHZ4,OH20I92LX3,SLQBD982C0
405,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
414,XTUAV57DP4,ID819KG3X5,RY6K0AUE7F,TUOKF5HAAQ,FRTGHAA34B,13PIY8GD1H,X0FE7E2EOG,AE7EEW4HSS,OYVW925ZL8,XQ953VS0FG
437,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
447,K0ODETRLS3,K8CXLZDP07,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL

In [18]:
keep_values = ["GB", "DE", "US"]

# Keep rows that contain specified values in the 'time_period' column
all_store_data = all_store_data[all_store_data['country_code'].isin(keep_values)]

In [19]:
all_store_data[~all_store_data['country_code'].isin(["GB", "DE", "US"])]

Empty DataFrame
Columns: [address, longitude, locality, store_code, staff_numbers, opening_date, store_type, latitude, country_code, continent]
Index: []

In [20]:
all_store_data.describe(include="all")

,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
count,441,441,441,441,441,441,441,440,441,441
unique,441,117,117,441,106,432,5,116,3,4
top,N/A,53.46506,Chapletown,WEB-1388012W,20,2004-01-23,Local,-1.47217,GB,Europe
freq,1,14,14,1,18,3,255,14,266,383

In [21]:
all_store_data.continent.unique()

array(['Europe', 'America', 'eeEurope', 'eeAmerica'], dtype=object)

In [22]:
all_store_data["continent"] = all_store_data["continent"].str.replace("eeEurope", "Europe")
all_store_data["continent"] = all_store_data["continent"].str.replace("eeAmerica", "America")
all_store_data.continent.unique()

array(['Europe', 'America'], dtype=object)

In [23]:
all_store_data.store_code.unique()

array(['WEB-1388012W', 'HI-9B97EE4E', 'LA-0772C7B9', 'WE-1DE82CEE',
       'BE-18074576', 'GA-CAD01AC2', 'RU-C603E990', 'ST-229D997E',
       'KA-FA7ED3B8', 'HA-974352FE', 'RU-9F1136B4', 'SI-ECD52CD9',
       'DE-585399CF', 'CR-792AA8BB', 'HA-39A446E2', 'LA-9B0D9277',
       'NE-1D8B1D0C', 'LY-4C3D5D6C', 'CH-6A561423', 'BA-898BDED3',
       'EA-77ECA680', 'PO-38790FAE', 'BU-251A0E5A', 'EH-91356030',
       'AB-917B715E', 'SU-0B4C9A5F', 'IN-157E1191', 'GA-DA8EEA4A',
       'LA-2B59A825', 'WE-31C8B335', 'LA-F1042C48', 'EA-24B31935',
       'EA-7965E06D', 'PE-040B15C3', 'EH-DB8676C1', 'AL-91D3A03C',
       'HE-E39F4BC6', 'PO-47A01287', 'LA-D78C5F3F', 'ME-31958763',
       'AR-5E72668B', 'CO-CB3D8C89', 'CL-5C7C3198', 'BO-17E7B6CE',
       'CH-619E036C', 'BR-BC499EDD', 'NE-E50207AD', 'BE-8C0CF738',
       'NE-374D3983', 'SU-95D20AE9', 'ME-FB62E459', 'KA-653E783F',
       'MA-F0E23355', 'OS-70B2CD28', 'KI-A53AF10A', 'LE-63F3D33B',
       'VE-93DA8430', 'HI-BAD4DD1C', 'RU-1994A94D', 'LE-84C48B9F',
       'SC-4928418D', 'EP-105C3FB5', 'CH-7771B336', 'LO-AB6B6DF8',
       'BU-44F16401', 'RU-9DF20437', 'EH-DB65F258', 'SO-6D328417',
       'PO-EB96293A', 'WA-34998EB8', 'EX-2C210EBF', 'CH-164A23FB',
       'GA-BA05E5A8', 'CH-A44B48E6', 'TH-D62B06B7', 'LA-6AAC1779',
       'MO-E8CFF8FE', 'LO-D54E72B5', 'EA-BE6D0CF8', 'BE-F4596696',
       'WE-5B0343D9', 'SC-8724E112', 'SE-F428A035', 'SU-40E3321A',
       'EX-9ED6711E', 'BU-550D8325', 'LA-9F489A77', 'RA-583F0CF9',
       'NE-01250B4B', 'CH-7C155EA7', 'ST-4D2E1D55', 'AR-2D9D5CD3',
       'MI-20EE1BFA', 'ST-119B11EA', 'BU-89E4DEC5', 'VE-B81F9500',
       'WE-DC3933D4', 'CL-0FB1065C', 'PF-D90B564A', 'BE-028A2748',
       'SO-6D546AD2', 'HI-BED70096', 'WA-FF3389AF', 'CH-7E92F288',
       'FR-C04291C3', 'ST-B754F535', 'AR-E8FDEB2B', 'LY-FC3B1157',
       'BE-09F94471', 'GA-400CC35C', 'WI-56B02C82', 'HI-F2784D72',
       'ME-D9ECD7DF', 'LE-14B7245B', 'RU-AE12736B', 'LA-DE474D42',
       'KA-9D87BC15', 'CH-DCCDE05E', 'CH-FBB32B94', 'ST-10F19C97',
       'NE-C83B8B22', 'SE-8DF6557B', 'SU-346D5CF2', 'BU-784362E0',
       'AR-0C5116E4', 'OB-7A4A9012', 'RA-2A22B217', 'WE-605028E4',
       'PF-1D7B0646', 'LA-77BE2ADA', 'ZE-BBF02AEA', 'VI-BCBBC21A',
       'WI-37616D0E', 'RH-F3E200B7', 'BU-19BB50F6', 'MA-316BDC6E',
       'CL-C183BE4B', 'WA-F4396DF8', 'MA-0D207813', 'PO-99029708',
       'GA-190B3F6D', 'BU-5B54171E', 'ME-9940FF73', 'CL-DA5365DF',
       'SU-5F78B30A', 'LY-89B9F675', 'HE-2908B53E', 'AR-D3FDDD1D',
       'SI-66F97423', 'PF-BADFAEDC', 'NE-EE2A190D', 'SE-596EAA50',
       'RA-C25EE56A', 'EH-BB9AECF5', 'PF-F95902BC', 'CR-6B885B5E',
       'HA-1BAE9B71', 'ME-B363FDAA', 'TR-4E1AF636', 'VI-43751A71',
       'DA-D9DC550B', 'LA-347073D1', 'VI-9A93E3E2', 'CH-6D105C69',
       'ST-06E21C4A', 'FR-0FA7D921', 'CL-361E75EC', 'WA-905645E6',
       'LY-73842BE8', 'HA-B6953307', 'BE-F9462A80', 'ST-3C93FBF2',
       'MA-20E6EB37', 'HI-F27C7A84', 'TH-D94B2E76', 'LO-3DD01CA8',
       'BA-8BA66AA0', 'DA-ACC520AE', 'BA-3A37248A', 'IN-8A98027C',
       'CH-42F9D8D8', 'AR-F938FB8E', 'ZE-EA9C82AA', 'EX-41AC3888',
       'CH-E1344D81', 'GR-18E26E0C', 'VI-B13ACF87', 'EH-945D8F25',
       'BU-3FC2A064', 'ME-C1AF27C3', 'PE-52B1E131', 'RU-BFF916C5',
       'LA-BC0455E1', 'BE-9A378A7F', 'LA-C1E143DE', 'NI-D757F308',
       'HA-859769AF', 'WA-0E6E657C', 'ST-1DAA85E6', 'WI-1BEEB9CA',
       'HA-41E65DD9', 'JE-3AF1D134', 'KI-967D1E81', 'BA-B0933185',
       'FA-6A7ABBAD', 'BU-3020DF6C', 'FR-91D11D69', 'ST-32641EC1',
       'SC-ADA59883', 'GA-2252ED9A', 'WE-298C66F0', 'PO-3A1A12CD',
       'CO-EAEDFFF3', 'GA-846D92B4', 'WE-54DE559C', 'PE-60C328DB',
       'BL-8387506C', 'OB-B57D2016', 'RE-4D07B5F2', 'HO-85D2BA5B',
       'VE-EE7A1F48', 'RH-AB6C3782', 'AB-316DE4BA', 'LA-F0652295',
       'EA-6B5D31D8', 'BE-2DE7E6FD', 'HO-978C59DC', 'KI-AF3A421C',
       'CH-C9AB9518', 'RU-514020AC', 'WI-5CDC1053', 'MI-D57825AA',
       'WI-293A03C1', 'GR-84BD26D4', 'TH-B6A0AB51', 'SU-203C8474',
       'EX-A3F2DB7C', 'AL-9E1A5529', 'CL-DA786EF6', 'AS-D26C759B',
       'FA-0A1B14FB', 'HI-FD1137FA', 'CL-7BF16887', 'PE-360EA944',
       'SI-C489938D', 'LA-7A9AA65C', 'AB-4ABD6D51', 'RA-5F41ED85',
       'BE-7C142381', 'BR-FB62A5BA', 'OS-EE0CC48A', 'VI-682A89FF',
       'GA-5957F561', 'PO-4AF8FC4D', 'SE-68A67454', 'RA-412FE889',
       'KI-81D6FEBD', 'WE-41EFA2D6', 'LE-1438EF01', 'SI-3E5F4AD9',
       'PF-F54C3265', 'PO-D4D326B4', 'SE-09EAF854', 'BE-DAD46DCD',
       'BE-BC3E4F9A', 'WE-55D0E7FF', 'ST-8D1A43F1', 'VE-1050754E',
       'CH-86DFF57D', 'GR-6D292223', 'HI-D59BBEEC', 'CH-8A74708A',
       'GR-30543E4C', 'GR-664E0CB3', 'KA-249967D9', 'EX-B1AACC7D',
       'BL-04FD6EF3', 'SU-B415327A', 'WA-0A35C594', 'DE-504A9BFE',
       'AR-CB0D95D8', 'RE-FAF57EF7', 'AB-337AEBA7', 'PE-8BF5FE22',
       'BU-0FB4CF87', 'ME-6529390A', 'NE-2B35DCBD', 'BU-90D457E0',
       'LA-55069B69', 'CH-DEF208AA', 'BR-CACF7508', 'GR-911A7DFC',
       'BL-9A86B74D', 'BA-99F54BD0', 'TR-658557DD', 'BL-D6CF153F',
       'AR-2284FD32', 'GR-63F021A1', 'EA-EB4F2E1B', 'GI-718674C0',
       'CH-7638016B', 'GA-D570038A', 'HO-16A376B0', 'AB-30E0C17F',
       'NI-AB0FECD7', 'SE-C44E6951', 'CO-308FF73B', 'EX-B4EE25D8',
       'SE-E21DDC72', 'TH-142AE777', 'CA-70469742', 'NE-6046DE65',
       'LU-439557A9', 'SU-163D2755', 'VI-8EBC5471', 'BU-834779E4',
       'ST-6590521C', 'HO-CE40B554', 'LO-8E1CA9E3', 'SU-ABF4F9A1',
       'CO-9A576872', 'AL-EE8984F0', 'AL-FB5FAE9B', 'EA-EC2DAADE',
       'ST-D14ED89D', 'LO-C4AB23C1', 'OB-4B85CD4E', 'BU-79F72A64',
       'EP-E66BE479', 'WA-58021322', 'KO-7E39C57F', 'HI-AED3C6CD',
       'AB-D665986A', 'BR-B7C294A7', 'LY-120579E6', 'GR-250FBD0C',
       'SO-B5B9CB3B', 'LA-6D1FE061', 'BR-09D8DE69', 'WE-C5C34475',
       'IN-827175EE', 'VE-38B76FFE', 'OS-4BF93680', 'WE-69BFEA46',
       'HA-FC4E6AFF', 'EX-A01E0020', 'HU-57B095A2', 'CH-01DEFD68',
       'RU-9D16C525', 'SC-FFDD5A57', 'KI-DD9663C2', 'EX-B3F5CFB1',
       'IR-C8DAAB31', 'WE-A6C131B0', 'OB-FDC2CF69', 'BA-25629F8E',
       'HI-7B43DCA9', 'HE-84E62AB9', 'RU-DA6DCDA7', 'IN-E47115F0',
       'BA-91C512D2', 'JA-49A2D7F5', 'IN-C4060B7D', 'CH-6ADEBD99',
       'BU-B5B6F452', 'SE-531CB6EE', 'SU-EFC31DF9', 'ST-76D54DCB',
       'HE-A49D28DF', 'LA-0E85631B', 'CH-99475026', 'PF-4FB7B30C',
       'AL-34ABF27F', 'LO-74DBE049', 'LO-EC0C9189', 'BE-C5C7E600',
       'PE-F9CF2B74', 'AS-373D10B2', 'RH-450F1A1B', 'GR-61A03D84',
       'AB-D04AA29C', 'WE-0E145AF9', 'BR-0DCD7EE0', 'TH-B8F42840',
       'GR-16C93F4D', 'BL-190ABD7D', 'RU-798BB83A', 'HA-10EEDC1D',
       'AB-FCFAB1A9', 'HE-8818F573', 'IN-CC1993CF', 'LY-D37CAF45',
       'RE-75445D60', 'CO-3971C69C', 'NE-D1A20330', 'LA-A12C3D8F',
       'BA-C0C7FDBE', 'LO-F33AC948', 'PO-E636D18D', 'LE-1E8CCAFA',
       'SC-4AE031F4', 'LO-ED733BA2', 'FR-A86E698A', 'KI-107167CD',
       'BE-7D0EF647', 'PE-086FA5EE', 'PE-78E2B585', 'AR-EE57502B',
       'EX-FA379F57', 'GR-9049A708', 'WA-ED4B495E', 'TR-8CD56339',
       'CO-D819CC5E', 'EX-82831D93', 'WE-FF0F6BA4', 'EP-6E0918AF',
       'WE-B278D336', 'BU-FB96B095', 'KO-975B107F', 'EX-2E8DF595',
       'HA-CCBCBF87', 'AR-ADA61B10', 'RU-F0666E4B', 'WA-A34BF06C',
       'KI-137ED849', 'BE-6F48991F', 'CH-C98AC168', 'DE-12392F66',
       'BA-41B2EB4B', 'WI-1EA140B1', 'CH-01D85C8D', 'VI-68DB8362',
       'RH-80D609C9', 'AB-D5ABF437', 'BE-B069E157', 'WA-A41DA979',
       'CO-473A9FBB', 'KI-78096E8C', 'HI-EEA7AE62', 'BR-662EC74C',
       'BA-B4AED588'], dtype=object)

In [27]:
all_store_data[all_store_data.isnull().any(axis=1)]

,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
index,,,,,,,,,,
0,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe